In [1]:
!pip install jovian --upgrade --quiet
import jovian

In [2]:
project = "grip-task-01"

In [3]:
jovian.commit(project=project)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "swapnilg4u/grip-task-01" on https://jovian.ai
[jovian] Uploading notebook..
[jovian] Uploading additional files...
[jovian] Committed successfully! https://jovian.ai/swapnilg4u/grip-task-01

'https://jovian.ai/swapnilg4u/grip-task-01'

In [10]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
url = 'http://bit.ly/w-data'
df = pd.read_csv(url)

In [8]:
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [38]:
xtrain,xtest,ytrain,ytest = train_test_split(df[['Hours']],df[['Scores']], test_size=0.4)

In [39]:
xtrain

    Hours
2     3.2
19    7.4
8     8.3
11    5.9
24    7.8
23    6.9
20    2.7
13    3.3
14    1.1
3     8.5
21    4.8
7     5.5
18    6.1
10    7.7
9     2.7

In [40]:
ytrain

    Scores
2       27
19      69
8       81
11      62
24      86
23      76
20      30
13      42
14      17
3       75
21      54
7       60
18      67
10      85
9       25

In [41]:
classifier = LinearRegression()

In [42]:
classifier.fit(xtrain,ytrain)

LinearRegression()

In [43]:
classifier.predict(xtest)

array([[47.89021043],
       [53.62549558],
       [89.94896818],
       [41.19904442],
       [38.33140185],
       [28.77259327],
       [28.77259327],
       [92.81661076],
       [19.21378469],
       [23.03730812]])

In [44]:
ytest

    Scores
12      41
1       47
15      95
22      35
4       30
16      30
0       21
6       88
5       20
17      24

In [45]:
classifier.score(xtest,ytest)

0.9522766777767027